#nprogress .bar {
  background: #fddd00 !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fddd00, 0 0 5px #fddd00;
}

#nprogress .spinner-icon {
  border-top-color: #fddd00;
  border-left-color: #fddd00;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.og-raw-container {
  color: black;
}

.og-desktop-container {
  color: black;
}
.og-desktop-container > a {
  text-decoration: none;
}

.og-raw-container > a {
  text-decoration: underline;
}

.og-desktop-card {
  background-color: #084555;
  border: 0.5px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px !important;
  padding: 0;
  margin: 15px 0;
  height: 120px;
}

.og-desktop-thumbnail-container {
  width: 30%;
  height: 120px;
}
.og-desktop-thumbnail-container > img {
  /* width: 100%; */
  height: 100%;
  margin: 0 !important;
  border-radius: 0 5px 5px 0 !important;
  object-fit: cover;
}

.og-desktop-text-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
  height: 120px;
}
.og-desktop-text-container:hover {
  background-color: rgba(128, 128, 128, 0.2);
  transition: background-color 0.25s ease-in-out;
}

.og-desktop-title {
  font-size: 16.5px !important;
  font-weight: bold !important;
  line-height: 24px !important;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
}

.og-desktop-description {
  font-size: 0.8em !important;
  color: white;
  line-height: 1.2em !important;
  margin: 8px 0 !important;
}

.og-desktop-domain-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 10px 5px 0 !important;
}
.og-desktop-domain-container img {
  width: 10px;
  height: 10px;
  margin: 0;
}

.og-desktop-domain-name {
  color: white;
  font-size: 10px;
  line-height: 10px;
  margin-left: 5px;
  padding-bottom: 3px;
}

.og-mobile-container {
  color: black;
}
.og-mobile-container > a {
  text-decoration: none;
}

.og-mobile-card {
  background-color: #084555;
  border: 0.5px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 5px !important;
  padding: 0;
  margin: 15px 0;
  height: 120px;
}

.og-mobile-thumbnail-container {
  width: 30%;
  height: 120px;
}
.og-mobile-thumbnail-container > img {
  height: 100%;
  margin: 0 !important;
  border-radius: 0 5px 5px 0 !important;
  object-fit: cover;
}

.og-mobile-text-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
  height: 120px;
}
.og-mobile-text-container:hover {
  background-color: rgba(128, 128, 128, 0.2);
  transition: background-color 0.25s ease-in-out;
}

.og-mobile-title {
  font-size: 0.9em !important;
  font-weight: bold !important;
  line-height: 1.2em !important;
  color: white;
  padding: 0 !important;
  margin: 0 !important;
  word-break: break-all;
}

.og-mobile-description {
  font-size: 0.5em !important;
  color: white;
  line-height: 0.5em !important;
  margin: 8px 0 !important;
}

.og-mobile-domain-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 10px 5px 0 !important;
}
.og-mobile-domain-container img {
  width: 10px;
  height: 10px;
  margin: 0;
}

.og-mobile-domain-name {
  color: white;
  font-size: 10px;
  line-height: 10px;
  margin-left: 5px;
  padding-bottom: 3px;
}
